@* Index page for standard Gy class timetable  *@
@* Controller: StdGymClassTimetablesController  *@

@model IEnumerable<GymBooker1.Models.StdGymClassTimetable>


<h2>Standard Gym Class Timetable</h2>
<br />
<p>Please note that changing the standard timetable only affects new days not added to the live timetable yet</p>
<br />
<p>
    @Html.ActionLink("Create New Class", "Create")
</p>
<div class="tableOverflow">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="label-primary text-white">
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th class="min-width75">
                    Time
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GymClassId)
                </th>
                <th class="width140">
                    @Html.DisplayNameFor(model => model.GymClass.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instructor)
                </th>
                <th class="min-width75">
                    @Html.DisplayNameFor(model => model.Hall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxPeople)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deleted)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
        <tbody class="">
            <tr class="bg-white">
                <td>
                    @((DayOfWeek)item.Day)
                </td>
                <td>
                    @{
                        DateTime time = new DateTime(1, 1, 1, item.Hour, item.Minute, 0);
                    }
                    @time.ToString("h:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration) mins
                </td>
                <td>
                    @Html.DisplayFor(model => item.GymClass.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GymClass.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hall)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.MaxPeople)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td class="width140">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { id = item.Id, @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Del", "Delete", new { id = item.Id }, new { id = item.Id, @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        </tbody>
        }

    </table>
</div>